language: python
python: 2.7
env:
    - TOX_ENV=py27
    - TOX_ENV=py34
    - TOX_ENV=flake8
install:
    - make install-dev
    - make runkinto &
script:
    - tox -e $TOX_ENV
matrix:
  include:
    - python: 3.5
      env:
        - TOX_ENV=kinto-master
after_success:
    # Report coverage results to coveralls.io
    - pip install coveralls
    - coveralls
