on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6

      - name: Run linting and formatting checks
        run: make lint

  unit-tests:
    name: Unit Tests
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          make install
          .venv/bin/pip install -r dev-requirements.txt

      - name: Serve attachments
        run: make serve-attachments &

      - name: Run kinto
        run: make run-kinto & sleep 5

      - name: Run unit tests
        run: make test
